*{
    font-family: "Roboto light", "Arial", "Courier", sans-serif;
    padding: 0;
    margin: 0;
}

section{
    padding: 25px;
    margin-bottom: 25px;
}
section table{
    margin: auto;
}
section:nth-child(2n){
    /*background-color: #DFEFDF;*/
}

table, tr, th, td{
    color: #333;
    border-bottom: 1px solid #DDD;
    border-collapse: collapse;
}

td{
    padding: 5px;
}

h1{
    text-align: center;
    margin-bottom: 50px;
}

h2{
    text-align: center;
    margin-bottom: 25px;
}

#warnings{
    background-color: #EFEF55;
    text-align: center;
}

#grades-table td{
    font-size: .75em;
}

#ue-table td{
    font-size: .9em;
}

tr td:nth-child(5){
    text-align: left;
}
tr td:nth-child(6){
    text-align: right;
}

#grades-table tr:last-child{
    background-color: #FFAAAA;
}
#grades-table tr:last-child td:nth-child(5){
    font-weight: bolder;
    color: darkred;
}
#grades-table tr:last-child td:nth-child(6){
    color: darkred;
}

.semester{
    background-color: #EFEFDF;
}
.semester td:nth-child(5){
    font-weight: bold;
    color: darkkhaki;
}
.semester td:nth-child(6){
    color: darkkhaki;
}

.ue{
    background-color: #EFDFEF;
}
.ue td:nth-child(5){
    font-weight: bold;
    color: purple;
}
.ue td:nth-child(6){
    color: purple;
}

.module{
    background-color: #DFEFEF;
}
.module td:nth-child(5){
    font-weight: bold;
    color: darkcyan;
}
.module td:nth-child(6){
    color: darkcyan;
}

#ue-table table td:nth-child(3){
    text-align: center;
}
#ue-table table td:nth-child(4){
    text-align: center;
}
.retake{
    background-color: #DD9999;
}
.pass{
    background-color: #99DD99;
}
